* {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  color: #3e3e3e;
}

html {
  scroll-snap-type: y proximity;
  scroll-padding-top: 80px;
}

body {
  margin: 0;
  background-color: #f0f0f0;
}

p {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 30px;
}

.header-label {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #347be6;
}

.header-title {
  font-weight: 700;
  font-size: 32px;
}

.header-subtitle {
  font-size: 20px;
  color: #474747;
  margin-top: 10px;
}

.contain-height {
  height: 100vh;
}

.popup:hover {
  transform: translateY(-4px);
  transition: 0.1s transform ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}