#home{
    background-color: rgb(22, 33, 49);
    color: white;
    height: 90vh;
}

#home #content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content:  center;
    align-items: center;
    height: 100%;
}
#home #name{
    font-size: 80px;
    font-weight: bold;
}
#home #shortdesc{

}

#aboutme{
    height: 92vh;
}


#aboutme .container .container{
    height: 92vh;
    display: flex;
    flex-direction: row;
}

#aboutdesc{
    padding: 100px;
    padding-top: 20px;
    font-size: 20px;
}

#header{
    font-size: 40px;
}

#projects{
    height: 92vh;

}

#contactme{
    height: 92vh;
}

#fixednavbar{
    position: fixed;
    width: 100%;
}

.nav-link{
    margin-right: 7px;
    margin-left: 7px;
    font-size: 20px;
}

#quote{
    height: 150px;
    background-color: rgb(82, 82, 82);
}

#selfpic img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: black;
    border-style: solid;
    margin: 50px;
}