#content{
    margin-top:100px ;
    display: grid;
    grid-template-columns: [full-start] minmax(1em,1fr) [main-start] minmax(0,30em) [main-end] minmax(1em,1fr) [full-end];
    justify-content: center;

}

#blogImg{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#content > * {
    grid-column: main;
    grid-column-start: main;
    grid-column-end: main;
}

#date{
    text-align: center;
    font-size: 15px;
}

#title{
    text-align: center;
    font-size: 30px;
}


#nav{
    background-color: rgb(245, 245, 245);
}

.nav-link{
    margin-right: 7px;
    margin-left: 7px;
    font-size: 18px;
}

#blogText{
    font: inherit;
    vertical-align: baseline;

}


#blogItem{
    margin-top: 10px;
    margin-bottom: 10px;
}

#blogItem #blogDate{
    font-size: 15px;
    margin-bottom: 0px;
    color: rgb(41, 41, 41);
}

#blogItem #blogTitle a{
    font-size: 20px;
    color: rgb(41, 41, 41);
}

.navbar-brand{
    font-weight: bold;
    font-size: 25px;
}

#navimg{
    width: 40px;
    height: auto;
    border-radius: 50%;
    border: black;
    border-style: solid;
    border-width: 1px;
    margin-left: 10px;
    margin-right: 10px;
}