$primary: #347be6;
$secondary: #474747;
$text-secondary: #474747;
$black: #3e3e3e;
$white: #ffff;
$border: 2px solid $black;

* {
	font-family: 'Inter', Helvetica, Arial, sans-serif;
	color: $black;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
}

body {
	margin: 0;
	background-color: $white;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}

// Medium devices
@mixin md {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}

// Large devices
@mixin lg {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}

// Extra large devices
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

p {
	margin: 0;
	padding: 0;
}

.section {
	display: flex;
	flex-direction: column;
}

.header {
	margin-bottom: 30px;
}

.header-label {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	color: $primary;
}

.header-title {
	font-weight: 700;
	font-size: 32px;
}

.header-subtitle {
	font-size: 20px;
	color: $secondary;
	margin-top: 10px;
}

.contain-height {
	height: 100vh;
}
.popup {
	transform: translateY(0px);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	box-shadow: 0 0 0 rgb(0 0 0 / 0);
}
.popup:hover {
	z-index: 0;
	transform: translateY(-4px);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
	box-shadow: 0 4px 4px rgb(0 0 0 / 0.1);
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade {
	animation: 0.4s fadeInUp;
}

.hidden {
	opacity: 0;
}
